[user]
	name = Chris Hung
	email = botckris@gmail.com

[color]
    ui = auto

[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[alias]
    graph = log --graph --full-history --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)[%an]%C(reset)'

[interactive]
    diffFilter = delta --color-only --features=interactive

[include]
    path = ~/.themes.gitconfig

[delta]
    features = calochortus-lyallii
    navigate = true
